.navbar {
    background-color: #1c2435;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items:end;
    justify-content: space-around;
  }

  .navbar-title {
    font-size: medium;
    color: rgb(190, 188, 188);
    margin-bottom: 4px;
  }
  
  .navbar-link {
    margin-right: 5px;
    color: white;
  }
  
  .navbar-link:hover {
    color: white;
  }
  
